@import 'mixins';

.footer{
    @include container($margin: $margin-xl);
    padding: $padding-xl 0;
    .footer-content{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @media screen and (min-width:$media-tablet){
            flex-direction: row;
        }
    }
}

.footer-links{
    display: flex;
    gap: $margin-bg;
    margin-bottom: $margin-bg;

    @media screen and (min-width:$media-sm-desktop){
        gap: $margin-xxl;
    }

    .footer-column{
        list-style: none;
        

        .footer-link{
            margin: $margin-main;
        }

        a{
            text-decoration: none;
            text-transform: uppercase;
            position: relative;
            font-size: $font-size-sm;

            &:before{
                content: '[';
                position: absolute;
                left: -1rem;
                opacity: 0;
                @include transition-duration;
                color: rgba($color: $text-color, $alpha: 0.5);
            }

            &:after{
                content: ']';
                position: absolute;
                right: -1rem;
                opacity: 0;
                @include transition-duration;
                color: rgba($color: $text-color, $alpha: 0.5);
            }

            &:hover:after, &:hover:before{
                opacity: 1;
            }
        }
    }
}

.footer-social{
    flex: 1;
    display: flex;
    align-items: center;
    gap: $margin-xl;

    @media screen and (min-width:$media-tablet){
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: $margin-sm;
    }

    @media screen and (min-width:$media-sm-desktop){
        flex-direction: row;
        gap: $margin-bg;
    }

    .newsletter{
        position: relative;
        bottom: 1.5rem;
        text-decoration: none;
        margin: 0 0 0 $margin-main;

        @media screen and (min-width:$media-tablet){
            padding: $padding-sm $padding-bg;
            border: 1px solid rgba($color: $text-color, $alpha: 0.5);
            border-radius: 2rem;
        }

        @media screen and (min-width:$media-sm-desktop){
            bottom: 0;
            margin: 0;
        }
    }
    .social-media{
        padding: $padding-sm;

        .social-icon{
            display: inline-block;
            margin: 0 $margin-main 0 0;

            .fa-brands{
                color: white;
                display: inline-block;
                font-size: $font-size-xl;
            }
        }   
    }
    

}