@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

/*colors*/
$bg-color:#000;
$bg-secondary: #fff;
$bg-opaque: rgba(0,0,0,0.6);
$text-color: #fff;
$text-secondary: #000;

/*typography*/
$font-size-main: 1.05rem;
$font-size-sm: 0.9rem;
$font-size-bg: 1.2rem;
$font-size-xl: 1.6rem;
$font-size-xxl: 2.5rem;
$font-family-main: 'Roboto Mono',Courier,monospace;

/*spacing*/
$margin-main: 1.5rem;
$margin-bg: 3rem;
$margin-xl: 5rem;
$margin-xxl: 13rem;
$margin-sm: 0.7rem;
$padding-main: 1rem;
$padding-bg: 1.8rem;
$padding-xl: 2.2rem;
$padding-sm: 0.7rem;
$border-radius-base: 0.8rem;
$border-radius-sm: 0.4rem;
$border-radius-lg: 1rem;
$border-radius-xl: 1.8rem;

/*media*/
$media-mobile: 480px;
$media-tablet: 768px;
$media-sm-desktop: 992px;
$media-bg-desktop: 1200px
